.yo{
padding: 50;
margin: 20;
background-color: rgb(187, 184, 28);

}
.flex{
display: flex;
}
.purple{
background-color: rgb(95, 132, 233);
display: flex;
justify-content: center;
padding: 30px:
}
.blue{
background-color: ;
padding: 20px;
margin: 30px;
}

.red{
padding: 50px;
margin: 20px;
}

