.yo{
padding: 50;
margin: 20;
background-color: aliceblue;

}
.flex{
display: flex;
}
.purple{
background-color: rgb(95, 132, 233);
display: flex;
justify-content: center;
padding: 30px:
}
.blue{
background-color: ;
padding: 20px;
margin: 30px;
}

.black{
background-color: ;
display: flex;
justify-content: center;
padding: 30px;
}

.white{

background-color: ;
padding:20px



}











































}